### For Loop

In [18]:
Games=["Handball","Cricket","Tennis"]
for i in Games:
    print(i)

Handball
Cricket
Tennis

* Looping Through a String
* Even strings are iterable objects, they contain a sequence of characters:

In [33]:
for x in "banana":
  print(x)

b
a
n
a
n
a

* The break Statement
* With the break statement we can stop the loop before it has looped through all the items:

In [35]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [36]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

* The continue Statement
* With the continue statement we can stop the current iteration of the loop, and continue with the next

In [37]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## The range() Function
* To loop through a set of code a specified number of times, we can use the range() function,
* The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [23]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [24]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [45]:
for x in range(1,20,5):
  print(x)

1
6
11
16

### Else in For Loop
* The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [25]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [46]:
#Break the loop when x is 3, and see what happens with the else block:
for x in range(6):
  if x == 3:
    break
  print(x)
else:
  print("Finally finished!")

0
1
2

### Nested Loops
* A nested loop is a loop inside a loop.

In [30]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### The pass Statement
* for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [32]:
for x in [0, 1, 2]:
  pass

### The while Loop
* With the while loop we can execute a set of statements as long as a condition is true.

In [5]:
i=1
while i<4:
    print(i)
    i+=1

1
2
3

### The break Statement
* With the break statement we can stop the loop even if the while condition is true:

In [11]:
i=1
while i<5:
    print(i)
    if i==3:
      break  
    i+=1

1
2
3

### The continue Statement
* With the continue statement we can stop the current iteration, and continue with the next:

In [14]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### The else Statement
* With the else statement we can run a block of code once when the condition no longer is true:

In [16]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## Assignments

### 1.While Loops

In [4]:
i=28 
while i<30:
    print(i)
    i=i+1

28
29

In [5]:
i=28
while i<35:
    print(i)
    if i==32:
        break
    i=i+1

28
29
30
31
32

### 2.For Loops

In [7]:
team=["Handball","Hockey","Badmiton","Cricket"]

for k in team:
    print(k)

Handball
Hockey
Badmiton
Cricket

In [13]:
for k in team:
    print(k)
    if k=="Badmiton":
     break

Handball
Hockey
Badmiton

In [15]:
for k in team:
    if k=="Badmiton":
        break
    print(k)

Handball
Hockey

### 3.If else

In [2]:
a= int(input("Enter the number:"))
b= int(input("Enter the number:"))
c=a+b
if c>100:
    print("Addition of {} and {} is {}.Hence it is greater than 100".format(a,b,c))
else:
    print("Addition of {} and {} is {}.Hence it is not greater than 100".format(a,b,c))

Enter the number:100
Enter the number:0
Addition of 100 and 0 is 100.Hence it is not greater than 100

In [4]:
a= input("Enter the text:")
if len(a)<5:
    print("Short")
else:
    print("Length")

Enter the text:Karunasagar
Length

### 4.If elif else

In [19]:
age=int(input("Enter the age:"))
if age>18:
    print("You have right to vote")
elif age==18:
    print("You have right to vote")
else:
    print("You have no right to vote")

Enter the age:18
You have right to vote

## 5.User defined functions

In [6]:
def details(name,game,age):
    print("Name:",name)
    print("Game:",game)
    print("Age:",age)

In [7]:
details("Karunasagar","Handball",26)

Name: Karunasagar
Game: Handball
Age: 26

In [10]:
def details(name,game,experience):
    print("{} playing a {} for {} years".format(name,game,experience))

In [11]:
details("Karunasagar","Handball",14)

Karunasagar playing a Handball for 14 years

### 6.User defined function with for loop

In [18]:
def captains(name):
    for i in name:
        print(i)

In [19]:
captains("M.S.Dhoni")

M
.
S
.
D
h
o
n
i

In [30]:
def num(nums):
    for k in range (nums):
        print(k)
    else:
            print("End for the loop")

In [31]:
num(4)

0
1
2
3
End for the loop

In [42]:
def value(number):
    if number%2==0:
        print("{} is an even number".format(number))
    else:
        print("{} is an odd number".format(number))

In [43]:
value(2)

2 is an even number

In [49]:
def age(years):
    if years>=60:
        print("Age is {} then He must a senior citizen".format(years))
    elif years>=20:
        print("Age is {} then He must be a teen".format(years))
    else:
        print("Age is {} then He must be child".format(years))

In [48]:
age(60)

Age is 60 then He must a senior citi

### 8.Break

In [56]:
i=1
while i<10:
    if i==3:
        break
    print(i)
    i=i+1
#if i==3:
 #   break

1
2

In [65]:
for m in range(1,10):
    if m%3 ==0:
        break
    print(m)

1
2

### 9.Continue

In [4]:
i=0
while i<10:
    i=i+1
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [5]:
i = 0
while i < 6:
  i += 1
  if i%3==0:
    continue
  print(i)

1
2
4
5

### 10.for loop with in operator

In [12]:
name=["Karuna","Senthil","Kamesh"]
goals=[8]
for k in name:
    for n in goals:
        print(k,n)

Karuna 8
Senthil 8
Kamesh 8

In [16]:
for j in range(1,10,3):
    print(j)

1
4
7

### 11.for loop with if statement

In [23]:
name=["Karuna","Senthil","Kamesh"]
for x in name:
    if x=="Kamesh":
        break
    print(x)

Karuna
Senthil

In [25]:
name=["Karuna","Senthil","Kamesh"]
for x in name:
    if x=="Karuna":
        continue
    print(x)

Senthil
Kamesh