#                                    Python for Data Science

In [2]:
print('Hello Guvi')

Hello Guvi

In [3]:
## Variable - Variable is container to store the values
## Data type - integer,float,string,bool

In [4]:
a= 10     # int
b= 10.5   # float
c= 'Word' #string
d = True  #bool

In [5]:
type(a)

int

In [6]:
type(b)

float

In [7]:
type(c)

str

In [8]:
type(d)

bool

In [9]:
## String - set of multiple characters are called strings

In [10]:
a = "I enrolled in DS programme"

In [11]:
a.capitalize()

'I enrolled in ds programme'

In [12]:
a.upper()

'I ENROLLED IN DS PROGRAMME'

In [13]:
a.lower()

'i enrolled in ds programme'

In [14]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [15]:
a

'I enrolled in DS programme'

In [16]:
a[0] #To display the 1st character

'I'

In [17]:
a[1]

' '

In [18]:
a[2]

'e'

In [19]:
a[-1] #To display the last character

'e'

In [20]:
a[-2]

'm'

In [21]:
#To display first 5 characters
#a[Beginning position : Ending Position]

a[0:4]

'I en'

In [22]:
len(a) # To find the how many charcters

26

In [23]:
#To display the character the from 2nd place to end
a[2:]

'enrolled in DS programme'

In [26]:
## Task- 1 Reverse the string
a[::-1] #reversing the string
## Task- 2 Explore 10 strings functions

[4, 3, 2, 1]

In [27]:
## Advanced data types. Able to store more than one values:

a = [1,2,3,4]

In [28]:
type(a)

list

In [29]:
a[0]

1

In [30]:
a[2]

3

In [31]:
a[0:2]

[1, 2]

In [32]:
a.append(5) #To add only one element in last position

In [33]:
a

[1, 2, 3, 4, 5]

In [34]:
a.clear() #To clear the list

In [35]:
a

[]

In [36]:
a=[1,2,3,4]

In [37]:
b = a.copy() #To copy the exact elemnets in the variable
b

[1, 2, 3, 4]

In [38]:
b.count(1)

1

In [40]:
a.append(6,7)
a

TypeError: list.append() takes exactly one argument (2 given)

In [41]:
a.append([6,7])
a

[1, 2, 3, 4, [6, 7]]

In [42]:
a.extend([8,9,10]) # To add more than one element
a

[1, 2, 3, 4, [6, 7], 8, 9, 10]

In [43]:
a.clear(6)

TypeError: list.clear() takes no arguments (1 given)

In [44]:
a.insert(-1,2) #To add element in exact position
a

[1, 2, 3, 4, [6, 7], 8, 9, 2, 10]

In [45]:
a.index(4) #To find the index number

3

In [46]:
a.pop(2) # Index position of 2 is removed

3

In [47]:
a

[1, 2, 4, [6, 7], 8, 9, 2, 10]

In [48]:
a.remove(2) #To remove the element

In [49]:
a

[1, 4, [6, 7], 8, 9, 2, 10]

In [50]:
a.pop(2)

[6, 7]

In [51]:
a

[1, 4, 8, 9, 2, 10]

In [52]:
a.sort()

In [53]:
a

[1, 2, 4, 8, 9, 10]

In [54]:
a.reverse()

In [55]:
a

[10, 9, 8, 4, 2, 1]

In [56]:
## Tuple
a = (1,2,3,4)

In [57]:
type(a)

tuple

In [58]:
a[0]

1

In [59]:
a=tuple()

In [60]:
type(a)

tuple

In [61]:
a.append() #Non Mutable

AttributeError: 'tuple' object has no attribute 'append'

In [62]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [63]:
a=(1,2,3,4)

In [64]:
a.count(1) #To find the no of occurances

1

In [65]:
a.index(1) #To Find the index number

0

In [66]:
a[0:2]

(1, 2)

In [67]:
a[0] = 10

TypeError: 'tuple' object does not support item assignment

In [69]:
s1 = {1,2}
s2 = {3,4}
s1.union(s2)

{1, 2, 3, 4}

In [70]:
dir(s1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [77]:
s1 = {1,2,3}
s2 = {3,4}
s1.intersection(s2)

{3}

In [78]:
s1

{1, 2, 3}

In [79]:
s1 = {1,2,3}
s2 = {3,4}
s1.intersection_update(s2)

In [80]:
s1

{3}

In [84]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.difference(s2)

{1, 2}

In [86]:
s1.difference_update(s2)
s1

{1, 2}

In [1]:
# Dictionary

m=[89,98,87,99,100]
a=[22,21,23,24,21]
a=['Ram',23,'23-01-2024']

In [2]:
d ={'name':'Ram','age':23}
d

{'name': 'Ram', 'age': 23}

In [3]:
type(d)

dict

In [4]:
d['marks'] = 100

In [6]:
d

{'name': 'Ram', 'age': 23, 'marks': 100}

In [7]:
d['gender'] = 'Male'
d

{'name': 'Ram', 'age': 23, 'marks': 100, 'gender': 'Male'}

In [8]:
dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [9]:
Scorecard={"Batsman":"Virat","Runs":120}
Scorecard

{'Batsman': 'Virat', 'Runs': 120}

In [10]:
Scorecard['6s'] = 6

In [11]:
Scorecard

{'Batsman': 'Virat', 'Runs': 120, '6s': 6}

In [12]:
Scorecard['4s'] = 15
Scorecard

{'Batsman': 'Virat', 'Runs': 120, '6s': 6, '4s': 15}

### Loop

In [13]:
print('Hello')

Hello

In [16]:
#### Need to Print repeat for 5 times
for i in range(0,5):
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [17]:
### Exercise
for i in range(0,10):
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [20]:
for i in range (4):
    print('Hello')

Hello
Hello
Hello
Hello

In [24]:
for i in range(0,11):
    print (i)

0
1
2
3
4
5
6
7
8
9
10

In [26]:
for i in range(11):
    print (i)

0
1
2
3
4
5
6
7
8
9
10

In [27]:
#range(Start position,end position,step)

In [35]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [37]:
for i in range (1,11,2):
    print (i)

1
3
5
7
9

In [40]:
for i in range(0,101,5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [41]:
for i in range(0,101,10):
    print(i)

0
10
20
30
40
50
60
70
80
90
100

In [43]:
for i in range(0,101):
    print(i*i)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000

In [44]:
a = [2,4,6,8,10]
a

[2, 4, 6, 8, 10]

In [45]:
for i in a:
    print(i)

2
4
6
8
10

In [47]:
t =(2,4,6)
for i in t:
    print(i)

2
4
6

In [48]:
d

{'name': 'Ram', 'age': 23, 'marks': 100, 'gender': 'Male'}

In [49]:
for i in d:
    print(i)

name
age
marks
gender

In [53]:
for i in d.items():
    print(i)

('name', 'Ram')
('age', 23)
('marks', 100)
('gender', 'Male')

In [54]:
for i in d.keys():
    print(i)

name
age
marks
gender

In [55]:
for i in d.values():
    print(i)

Ram
23
100
Male

### Branching

In [58]:
m=48

if m > 50:
    print('Pass')

In [59]:
if m > 50:
    print('pass')
else:
    print('Fail')

Fail

In [61]:
#Task-1

m=85

if m > 80:
    print('Distinction')
else:
    print('Firstclass')

Distinction

In [62]:
m = input("Enter the marks:")

Enter the marks:98

In [63]:
type(m)

str

In [64]:
m = int(input('Enter the marks:'))

Enter the marks:98

In [65]:
type(m)

int

In [66]:
m = int(input('Enter the marks:'))

if m > 50:
    print('pass')
else:
    print('Fail')

Enter the marks:85
pass

In [71]:
m = int(input('Enter the marks:'))

if m > 80:
    print('Distinction')
elif m > 70:
    print('First class')
elif m > 60:
    print('Second class')
elif m >= 50:
    print('Third class')    
else:
    print('Fail')

Enter the marks:50
Third class

In [73]:
#Nested If - For Checking two coondition
m = int(input('Enter the marks:'))

if m > 80:
    print('Distinction')
    if m > 90:
        print('Awesome')
elif m > 70:
    print('First class')
elif m > 60:
    print('Second class')
elif m >= 50:
    print('Third class')    
else:
    print('Fail')

Enter the marks:94
Distinction
Awesome

In [77]:
for i in range (10):
    if i %2 == 0:
        print(i)

0
2
4
6
8

In [82]:
for i in range(10):
    print(i)
    if i == 5:
        break;
    print('Hi')

0
Hi
1
Hi
2
Hi
3
Hi
4
Hi
5

In [80]:
for i in range(10):
    print(i)
    if i == 5:
        continue;
    print('Hi')

0
Hi
1
Hi
2
Hi
3
Hi
4
Hi
5
6
Hi
7
Hi
8
Hi
9
Hi

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

### Function

In [88]:
def simple():
    print('Hello')

In [89]:
simple()

Hello

Types

* User Defined Function

* In-Build Function

* Lambda Function

In [90]:
def simple(n):
    print(n)

In [91]:
simple(10)

10

In [92]:
def add(a,b):
    return a+b

In [93]:
add(10,5)

15

In [94]:
add(3,5)

8

In [99]:
def subract(a,b):
    print (a-b)

In [100]:
subract(10,8)

2

In [102]:
def multiply(a,b,c):
    return a*b*c

In [103]:
multiply (1,2,3)

6

In [109]:
def div(a,b):
    return a/b

In [110]:
div(10,2)

5.0

In [2]:
import math

math.sqrt(100)

10.0

In [3]:
math.factorial(5)

120

In [4]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [6]:
round(56.6)

57

In [7]:
def add(a,b):
    return a+b

In [8]:
add(3,5)

8

In [10]:
def add(a=5 , b=10):
    return a+b

In [11]:
add()

15

In [12]:
add(10)

20

In [14]:
add(b=50)

55

In [15]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [18]:
#Find the square root and add in new list
l = []

for i in a:
    l.append(i*i)
    
l

[1, 4, 9, 16, 25]

In [19]:
#Find the cube root and add in new list
d= []

for i in a:
    d.append(i*i*i)
    
d

[1, 8, 27, 64, 125]

In [21]:
l = [i*i for i in a] #List Comprehension
l

[1, 4, 9, 16, 25]

In [22]:
d = [i*i*i for i in a]
d

[1, 8, 27, 64, 125]

In [23]:
b = [1,2,3,4,5,6,7,8,9,10]
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
l = []

for i in b:
    if i%2 == 0:
        l.append(i*i)
l

[4, 16, 36, 64, 100]

In [29]:
l = [i*i for i in b if i%2 == 0]
l

[4, 16, 36, 64, 100]

In [36]:
l = []
#l = [i*i for i in range(101) if i%2 == 0] #Single line of code
l = [i*i for i in range(0,101,2)]  #Minimize the code even from previous code
l

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]

In [37]:
l = []
l = [i*i*i for i in range(0,1001,5)]  
l

[0,
 125,
 1000,
 3375,
 8000,
 15625,
 27000,
 42875,
 64000,
 91125,
 125000,
 166375,
 216000,
 274625,
 343000,
 421875,
 512000,
 614125,
 729000,
 857375,
 1000000,
 1157625,
 1331000,
 1520875,
 1728000,
 1953125,
 2197000,
 2460375,
 2744000,
 3048625,
 3375000,
 3723875,
 4096000,
 4492125,
 4913000,
 5359375,
 5832000,
 6331625,
 6859000,
 7414875,
 8000000,
 8615125,
 9261000,
 9938375,
 10648000,
 11390625,
 12167000,
 12977875,
 13824000,
 14706125,
 15625000,
 16581375,
 17576000,
 18609625,
 19683000,
 20796875,
 21952000,
 23149125,
 24389000,
 25672375,
 27000000,
 28372625,
 29791000,
 31255875,
 32768000,
 34328125,
 35937000,
 37595375,
 39304000,
 41063625,
 42875000,
 44738875,
 46656000,
 48627125,
 50653000,
 52734375,
 54872000,
 57066625,
 59319000,
 61629875,
 64000000,
 66430125,
 68921000,
 71473375,
 74088000,
 76765625,
 79507000,
 82312875,
 85184000,
 88121125,
 91125000,
 94196375,
 97336000,
 100544625,
 103823000,
 107171875,
 110592000,
 114084125,
 117649000,
 121287375,
 125000000,
 128787625,
 132651000,
 136590875,
 140608000,
 144703125,
 148877000,
 153130375,
 157464000,
 161878625,
 166375000,
 170953875,
 175616000,
 180362125,
 185193000,
 190109375,
 195112000,
 200201625,
 205379000,
 210644875,
 216000000,
 221445125,
 226981000,
 232608375,
 238328000,
 244140625,
 250047000,
 256047875,
 262144000,
 268336125,
 274625000,
 281011375,
 287496000,
 294079625,
 300763000,
 307546875,
 314432000,
 321419125,
 328509000,
 335702375,
 343000000,
 350402625,
 357911000,
 365525875,
 373248000,
 381078125,
 389017000,
 397065375,
 405224000,
 413493625,
 421875000,
 430368875,
 438976000,
 447697125,
 456533000,
 465484375,
 474552000,
 483736625,
 493039000,
 502459875,
 512000000,
 521660125,
 531441000,
 541343375,
 551368000,
 561515625,
 571787000,
 582182875,
 592704000,
 603351125,
 614125000,
 625026375,
 636056000,
 647214625,
 658503000,
 669921875,
 681472000,
 693154125,
 704969000,
 716917375,
 729000000,
 741217625,
 753571000,
 766060875,
 778688000,
 791453125,
 804357000,
 817400375,
 830584000,
 843908625,
 857375000,
 870983875,
 884736000,
 898632125,
 912673000,
 926859375,
 941192000,
 955671625,
 970299000,
 985074875,
 1000000000]

### Libraries - Collection of functions 
* Pandas
* Numpy
* Matplotlib
* Seaborn

In [38]:
pip install pandas

Requirement already satisfied: pandas in d:\softwares\anaconda\files\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in d:\softwares\anaconda\files\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\softwares\anaconda\files\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\softwares\anaconda\files\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in d:\softwares\anaconda\files\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [39]:
#pip uninstall pandas

In [40]:
#iterator

b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
for i in b:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [42]:
i = iter(b)
i

In [43]:
next(i)

1

In [44]:
next(i)

2

In [45]:
next(i)

3

In [46]:
l= [i*i for i in a]
l

[1, 4, 9, 16, 25]

# Lambda function

* Does not have any name
* does not have return stmt
* no def keyword
* no paranthesis

In [47]:
def square(n):
    return n*n

In [48]:
square(5)

25

In [49]:
sq =  lambda n: n*n #Like Parthiban comedy to erase one by one from def
sq(4)

16

In [51]:
add = lambda a,b: a+b

In [53]:
add(5,5)

10

In [54]:
add = lambda a,b,c: a+b+c
add(1,2,3)

6

In [58]:
def name(fname,lname):
    print("fname:",fname)
    print("lname:",lname)

In [63]:
name("K","s")

fname: K
lname: s

In [2]:
name = lambda fname,lname: "fname: {}\nlname: {}".format(fname,lname)
name("K","S")

'fname: K\nlname: S'

In [75]:
#map(logic.iterators)
#To Find the square numbers of list
sq = list(map(lambda n: n*n ,b))

In [76]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
#TO find the cube numbers of list
cube=[]
cube = list(map(lambda n: n*n*n ,b))
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [80]:
#Filter(Logic,iterators)

#To FIlter the even numbers
even = list(filter(lambda n:n%2==0 , b))
even

[2, 4, 6, 8, 10]

#### To Find the square of even number present in list b in one line 
* Hint : Lambda,map,filter

In [86]:
sq_of_even = list(map(lambda n:n*n,filter(lambda n:n%2==0,b))) 
#Filter the even numbers & Square the that number using map & convert in the list

sq_of_even

[4, 16, 36, 64, 100]

### File Handling

In [34]:
# File Handling
f = open(r'C:\Users\karun\OneDrive\Desktop\DR.BR.txt')
f.read()

'Democracy is not a merely form of government.\n\nIt is essentially an attitude of respect & reverence towards fellowmen.\n\nCountry is not just a landscape.It is the collections of emotions of people living there.'

In [35]:
f.readline() #This is to read lines individually

''

In [36]:
f.readline()

''

In [37]:
f.readlines() #this is is read all lines at once and stored them in a list

[]

In [38]:
f = open(r'C:\Users\karun\OneDrive\Desktop\DR.BR.txt','w')
f.write('Dr.B.R.Ambedkar')
f.close()

In [39]:
f = open(r'C:\Users\karun\OneDrive\Desktop\DR.BR.txt','a')
f.write('\n\nC.N.Annadurai')
f.close()

In [40]:
f = open(r'C:\Users\karun\OneDrive\Desktop\DR.BR.txt')
f.read()

'Dr.B.R.Ambedkar\n\nC.N.Annadurai'

In [41]:
type(f.read())

str

In [1]:
class car:
    pass

In [2]:
class car: #Class name
    engine = 1  #Variable i.e Member variable
    brake = 1
    accelarator = 1
    wheels = 1
    doors = 4
    color = "white"

In [13]:
maruti = car() #Object i.e copy of class means copy of blue print

In [14]:
maruti.doors

4

In [15]:
maruti.engine

1

In [16]:
maruti.color

'white'

In [17]:
bmw = car()

In [18]:
bmw.doors

4

In [19]:
bmw.color

'white'

In [20]:
bmw.color = 'Red'

In [21]:
bmw.color

'Red'

In [36]:
## Activity
class bus():
    door = 2
    Engine = 1
    color = 'yellow'
    tyres = 6
    seat = 64
    fuel = 'Diesel'

In [37]:
Tata = bus() #Object

In [38]:
Tata.door

2

In [39]:
Tata.Engine

1

In [40]:
Tata.color

'yellow'

In [41]:
Tata.seat

64

In [42]:
Leyland = bus()

In [43]:
Leyland.fuel

'Diesel'

In [44]:
Leyland.seat

64

In [45]:
Leyland.seat = 75

In [46]:
Leyland.seat

75

In [47]:
Tata.seat

64

In [48]:
class car: #Class name
    engine = 1  #Variable i.e Member variable
    brake = 1
    wheels = 1
    doors = 4
    color = "white"
    
    def accelarator(self):
        print("Car will start moving")

In [49]:
maruti = car()

In [50]:
maruti.accelarator()

Car will start moving

In [51]:
class car: #Class name
    engine = 1  #Variable i.e Member variable
    wheels = 1
    doors = 4
    color = "white"
    
    def accelarator(self):
        print("Car will start moving")
    def brake(self):
        print("Car will slowly stop")

In [52]:
maruti = car()

In [53]:
maruti.brake()

Car will slowly stop

In [54]:
maruti.accelarator()

Car will start moving

In [55]:
## Activity
class bus():
    door = 2
    Engine = 1
    color = 'yellow'
    tyres = 6
    seat = 64
    fuel = 'Diesel'
    
    def accelarator(self):
        print("Bus will start moving")
    def brake(self):
        print("Bus will slowly stop")

In [56]:
Tata = bus()

In [57]:
Tata.accelarator()

Bus will start moving

In [58]:
Tata.brake()

Bus will slowly stop

In [59]:
Leyland = bus()

In [60]:
Leyland.color

'yellow'

In [61]:
#Activity
class Bakery():
    drinks = ['Tea','Coffee','Milk']
    bake = ['Cake','Pastry']
    sweets = ['Jamun','Laddu']

In [62]:
r = Bakery()

In [63]:
Bakery.drinks

['Tea', 'Coffee', 'Milk']

In [64]:
Bakery.sweets

['Jamun', 'Laddu']

## Inheritance

In [65]:
class parent():
    a = 1

In [66]:
class child():
    pass;

In [67]:
o = child()

In [68]:
o.a

AttributeError: 'child' object has no attribute 'a'

In [71]:
class child(parent): #Single Inheritance
    pass;

In [72]:
o= child()

In [73]:
o.a

1

In [82]:
class PC():
    d=5

In [83]:
class lap():
    pass;

In [84]:
class lap(PC):
    pass;

In [85]:
k = lap()

In [86]:
k.d

5

In [87]:
class father():
    a = 1

In [88]:
class mother():
    b = 2

In [89]:
class baby(father,mother):
    pass;

In [90]:
g= baby()

In [91]:
g.a

1

In [92]:
g.b

2

In [96]:
class primary():
    f = 'karuna'

In [97]:
class sec():
    t = 'sagar'

In [98]:
class tertiary(primary,sec):
    pass;

In [99]:
p = tertiary()

In [100]:
p.f

'karuna'

In [101]:
p.t

'sagar'

In [102]:
#Activity

class Mall():
    Grociries = ['Rice','Sugar','Wheat','Oil']
    Cosmetics = ['Soap','Moistrizer','Facecream','Sunscreen']
    Stationary = ['Pen','Pencil','Eraser','Sharpner']
    Textile = ['Shirt','Pant','Saree','Chudi']
    Canteen = ['Indian','Chinese','Italian','Continential']

In [103]:
Phoenix = Mall()

In [104]:
Phoenix.Textile

['Shirt', 'Pant', 'Saree', 'Chudi']

In [105]:
Phoenix.drink=['Tea','Coffee','Hot Chocolate','Cold coffee']

In [106]:
Phoenix.drink

['Tea', 'Coffee', 'Hot Chocolate', 'Cold coffee']

In [107]:
class Retail():
    drink=['Tea','Coffee','Hot Chocolate','Cold coffee']

In [108]:
class cus(Mall,Retail):
    pass;

In [109]:
a = cus()

In [110]:
a.drink

['Tea', 'Coffee', 'Hot Chocolate', 'Cold coffee']

In [111]:
a.Cosmetics

['Soap', 'Moistrizer', 'Facecream', 'Sunscreen']

In [113]:
a.Grociries

['Rice', 'Sugar', 'Wheat', 'Oil']

In [114]:
a.Textile[2]

'Saree'

In [121]:
import re

txt= '''Karuna number is 1234567890 
mail id is karuna@gmail.com
age is 36
altenate mob num is (948)-960-5547
'''

pattern = '\d{10}'

re.findall(pattern,txt)

['1234567890']

In [122]:
patter = '[a-z]*@[a-z]*.[a-z]{2,3}'

In [123]:
re.findall(patter,txt)

['karuna@gmail.com']

In [124]:
pattern = 'age[a-z] '

In [2]:
import pickle

#####  Converting the raw data into binary data

In [3]:
mylist = ['a','b','c','d']

#fh = open('datgafile.txt','w') read close() - Traditional way of open read & close your file

with open ('datafile.txt','wb')as fh:
    pickle.dump(mylist, fh)

In [4]:
pwd #To find the location of file(PWD - Present Working Directory)

'C:\\Users\\karun\\Guvi DS'

In [5]:
line = 'Earth is very,very old-millions & millions of years old. And for long, long time there was no men or women who living in it'
with open('Nehru.txt','wb') as letters:
    pickle.dump(line,letters)

In [6]:
pwd

'C:\\Users\\karun\\Guvi DS'

##### Converting the Binary data into raw data

In [7]:
import pickle
a = open('datafile.txt','rb')
b = pickle.load(a)
print(b)

['a', 'b', 'c', 'd']

In [8]:
d = open('Nehru.txt','rb')
e = pickle.load(d)
print(e)

Earth is very,very old-millions & millions of years old. And for long, long time there was no men or women who living in it

In [9]:
TeamId = { 1:'Karuna',2:'54698',3:'Naveen',4:'65',5:'Amazon',6:'Jeevan'} #creating a dict
pickling_on = open('EmpID.pickle','wb') #File format change to pickle to reduce memory

### Json

In [10]:
import json

In [17]:
#some json

x = '{"name":"Karuna","age":27,"city":"ODC"}'

#parse x
y = json.loads(x) #Converts json to Dict

#the result is a python Dict
print(y["age"])

27

In [23]:
#A python object-Dict

x = {"name":"Karuna","age":27,"city":"ODC"}

y = json.dumps(x) #Dict into json

#the result is a json string
print(y)

{"name": "Karuna", "age": 27, "city": "ODC"}