### Revision

### 1.Python Introduction

In [1]:
print('Kalaingar')

Kalaingar

In [2]:
print("Anna")

Anna

In [3]:
print('''Periyar''')

Periyar

### 2.Creating a variable

### Variable is nothing but a memory location to store the values

In [4]:
Aringar= "C.N.Annadurai"

In [5]:
Thanthai= "Periyar"

In [6]:
Kalaingar="Karunanidhi"

In [7]:
Parties=["DMK","ADMK","MDMK","VCK","CPIM"]

In [8]:
Parties[0]

'DMK'

In [9]:
Parties[1]="BJP"

In [10]:
Parties

['DMK', 'BJP', 'MDMK', 'VCK', 'CPIM']

In [11]:
len(Parties)

5

### Chapter.2 Data types

### Data types-3 types

### int - numbers without decimals
### float-numbers with decimals
### string-enclosed within the quotes

In [12]:
score=80

In [13]:
type(score)

int

In [14]:
score=80.5
type(score)

float

In [15]:
type("Arinagar")

str

### Functions-Operations which i want to perform on my data

In [16]:
name="Karunasagar"

In [17]:
print(name.upper())

KARUNASAGAR

In [18]:
name.capitalize()

'Karunasagar'

In [19]:
name.lower()

'karunasagar'

### 2.b Concatenation and slicing

In [20]:
fname=("Karuna")
lname=("Sagar")

In [21]:
print(fname,lname)

Karuna Sagar

In [22]:
print("First name: ",fname,"\nLast name: ",lname)

First name:  Karuna
Last name:  Sagar

In [23]:
Quote="Carry on but remember"

In [24]:
Quote[0]

'C'

In [25]:
Quote[5:]

' on but remember'

In [26]:
Quote.find("but")

9

In [27]:
year=2018
name="Kalaingar"
print(name,"who is the Tallest leader of Dravidian moment stopped his writing in",year)

Kalaingar who is the Tallest leader of Dravidian moment stopped his writing in 2018

In [28]:
print(name+" who is the Tallest leader of Dravidian moment stopped his writing in "+str(year))

Kalaingar who is the Tallest leader of Dravidian moment stopped his writing in 2018

### 2.C.Interact with the user input

In [29]:
username=input("Username : ")
print("Username starts with ",username[0])

Username :

IndexError: string index out of range

In [ ]:
name_1=input("Enter the name: ")
name_2=input("Enter the name: ")
name_3=input("Enter the name: ")

In [ ]:
print("{} is Handball player.\n{} is a Throw ball player.\n{} is a cricket player.".format(name_1,name_2,name_3))

### 3.Numbers in Python

In [ ]:
marks=int(input("Enter the marks:"))
print(marks)

In [30]:
type(marks)

NameError: name 'marks' is not defined

In [31]:
marks=abs(int(input("Enter the marks:")))
print(marks)

Enter the marks:

ValueError: invalid literal for int() with base 10: ''

### Chapter-4 Functions and Loops

### 3 types of Functions
### 1.Predefined Functions- Functions are already defined
### 2.User defined functions-Customized Functions that user can define
### 3.Anonymous functions-nameless functions that is used to accomplish operation at once

## User defined Functions

In [32]:
#user defined function
def team():
    print("Karuna")
    print("Senthil")

In [33]:
team()

Karuna
Senthil

### Positional arguments

In [34]:
def Limitless(Name,Designation,Experience):
    print("Name:",Name)
    print("Designation:",Designation)
    print("Experience:",Experience)

In [35]:
Limitless("Karunasagar","BMS",3.5)

Name: Karunasagar
Designation: BMS
Experience: 3.5

In [36]:
Limitless("Sarath","BMS",5)

Name: Sarath
Designation: BMS
Experience: 5

### Default Arguments

In [37]:
def Nvidia(Name,Designation,Experience,Company="Nvidia"):
    print("Name:",Name)
    print("Designation:",Designation)
    print("Experience:",Experience)
    print("Company:",Company)

In [38]:
Nvidia("Karunas","BMS",5)

Name: Karunas
Designation: BMS
Experience: 5
Company: Nvidia

In [39]:
Nvidia("Mani","BMS",4)

Name: Mani
Designation: BMS
Experience: 4
Company: Nvidia

### Variable Length Arguments

In [40]:
def Work(Name,Designation,*Company):
    print("Name:",Name)
    print("Designation:",Designation)
    print("Company:",Company)

In [41]:
Work("Karunasagar","BMS","Indus","VInspirer","Limitless","Nvidia")

Name: Karunasagar
Designation: BMS
Company: ('Indus', 'VInspirer', 'Limitless', 'Nvidia')

### Keyword Arguments

In [42]:
def Work(Name,Designation,**Company):
    print("Name:",Name)
    print("Designation:",Designation)
    print("Company:",Company)

In [43]:
Work("Karunasagar","BMS",Company1="Indus",Company2="VInspirer",Company3="Limitless")

Name: Karunasagar
Designation: BMS
Company: {'Company1': 'Indus', 'Company2': 'VInspirer', 'Company3': 'Limitless'}

In [44]:
def Work(Name,*Designation,**Company):
    print("Name:",Name)
    print("Designation:",Designation)
    print("Company:",Company)

In [45]:
Work("Karunasagar","Service","BMS",Company1="Indus",Company2="VInspirer",Company3="Limitless")

Name: Karunasagar
Designation: ('Service', 'BMS')
Company: {'Company1': 'Indus', 'Company2': 'VInspirer', 'Company3': 'Limitless'}

In [46]:
def Multiply(a,b):
    print("Number:",a)
    print("Number:",b)
    print("Answer:",a*b)

In [47]:
Multiply(5,6)

Number: 5
Number: 6
Answer: 30

### 4.B Run in circles

In [48]:
a=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [49]:
range(1,101)

range(1, 101)

In [50]:
for a in range(1,101,10):
    print(a)

1
11
21
31
41
51
61
71
81
91

In [51]:
def pg(sai):
    for l in sai:
        print(l)

In [52]:
pg("Sai")

S
a
i

### 5.Conditional Logic

In [53]:
5==5

True

In [54]:
a==a

True

In [55]:
5!=6

True

In [56]:
K=50
G=100
S=75

In [57]:
K>G and K<G

False

In [58]:
news="SNSCT Handball team won the tournament"
news

'SNSCT Handball team won the tournament'

In [59]:
"team" in news

True

In [60]:
"team" not in news

False

## 5.C Control the flow of the program

In [61]:
Password = input("Password:")
if len(Password)>5:
    print("Strong Password")
else:
        print("Weak Password")

Password:
Weak Password

5[d] Challenge to find the factors of a number
* Display a message to the user to enter a number
* Use for loop
* Use if statement
* Use print

In [62]:
Factors = int(input("Enter a number:"))
for i in range(1,Factors):
 if Factors%i ==0:
    #print(i)
    print("Factorial of {} is {}".format(Factors,i) )

Enter a number:

ValueError: invalid literal for int() with base 10: ''

### 4.Data Structures
*List-[]
*Sets-{}
*Tuples-[]
*Dict-{}

### 1.List

In [63]:
List=[]
type(List)

list

In [64]:
Karuna=[95,58,74,"Mani",85.0]#Hetero genous
print(Karuna)

[95, 58, 74, 'Mani', 85.0]

In [65]:
type(Karuna)

list

In [66]:
Karuna[0]=85 #Indexable
print(Karuna)

[85, 58, 74, 'Mani', 85.0]

In [67]:
Karuna[2:] #Slicable

[74, 'Mani', 85.0]

In [68]:
Karuna.reverse()
print(Karuna)

[85.0, 'Mani', 74, 58, 85]

### 2.Sets

In [69]:
Set=set()
type(Set)

set

In [70]:
Karuna={95,58,74,"Mani",85.0}#Hetero genous
print(Karuna)

{'Mani', 58, 85.0, 74, 95}

In [71]:
type(Karuna)

set

In [72]:
Karuna{0:} #not indexable

SyntaxError: invalid syntax (Temp/ipykernel_7428/4250162738.py, line 1)

In [73]:
Karuna{0:}# Not Slicable
print(Karuna)

SyntaxError: invalid syntax (Temp/ipykernel_7428/3651644676.py, line 1)

In [74]:
Karuna.add(1000)

In [75]:
Karuna.add("Raj")

In [76]:
Karuna

{1000, 58, 74, 85.0, 95, 'Mani', 'Raj'}

### 3.Tuples

In [77]:
Tuple=()
type(Tuple)

tuple

In [78]:
mobile=("Redmi","Apple","Samsung",15,51)
mobile

('Redmi', 'Apple', 'Samsung', 15, 51)

In [79]:
type(mobile)

tuple

In [80]:
mobile[2:] #Indexable and Slicable

('Samsung', 15, 51)

In [81]:
mobile[2]="Karbonn" # Immutable
mobile

TypeError: 'tuple' object does not support item assignment

### 4.Dictionary-Key Value Pair

In [82]:
empty_dict={}
type(empty_dict)

dict

In [83]:
Players={"Karuna":10,"Senthi":11,"Kamesh":12}
Players

{'Karuna': 10, 'Senthi': 11, 'Kamesh': 12}

In [84]:
Players.keys()

dict_keys(['Karuna', 'Senthi', 'Kamesh'])

In [85]:
Players.values()

dict_values([10, 11, 12])

In [86]:
Handball={"Players":["Karuna","Senthi","Kamesh"],
          "Goals":[8,9,10],
          "Penalty":[0,1,2]}
Handball

{'Players': ['Karuna', 'Senthi', 'Kamesh'],
 'Goals': [8, 9, 10],
 'Penalty': [0, 1, 2]}

In [87]:
import pandas

In [88]:
pandas.DataFrame(Handball)

  Players  Goals  Penalty
0  Karuna      8        0
1  Senthi      9        1
2  Kamesh     10        2

### Pandas Deep Drive -Data Analysis

In [89]:
!pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in d:\anaconda\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [99]:
import pandas as pd #Alias is nothing bt a nick name
import numpy as np

In [97]:
pd.read_csv('drinks.csv',sep=',')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [98]:
pandas.read_csv('data.tsv.txt',sep='\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75